#root, body, html {
  margin: 0;
  overflow-x: hidden;
  height: max-content;
  width: 100%
}

.css-1g92jzo-MuiPaper-root-MuiAccordion-root:first-of-type
{
  border-radius: 20px !important;
}

.css-1k6qxng-MuiPaper-root-MuiAccordion-root.Mui-expanded{
  margin: 0 !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input{
  z-index: 7;
}